footer {
  background-color: white;
  margin-bottom: 0;
  height: 60px;
  width: 100%;
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #CCCCCC;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 0;
  z-index: 100;
  background-color: white;
}
